# LOAD- GOOGLE BIG QUERY

## Preparation

In [1]:
import os
import pandas as pd
from google.cloud import bigquery
from google.oauth2 import service_account
import pandas_gbq

In [2]:
# extract xlsx file in dataframe
df = pd.read_excel('customer.xlsx')

# salve as csv
df_1=df.to_csv('customer.csv', index=False, encoding='utf-8')

In [3]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [4]:
path = 'C:/Users/vanes/OneDrive/Documentos/PROJETOS_PORTFOLIO/ETL/'

In [5]:
credentials = service_account.Credentials.from_service_account_file(path +'gbq.json', 
                                                                    scopes=["https://www.googleapis.com/auth/cloud-platform"])

In [6]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [18]:
df = df.astype(str)

In [19]:
df.dtypes

InvoiceNo      object
StockCode      object
Description    object
Quantity       object
InvoiceDate    object
UnitPrice      object
CustomerID     object
Country        object
dtype: object

In [21]:
# setting the schema
schema = [
    {'name': 'InvoiceNo', 'type': 'STRING'},
    {'name': 'StockCode', 'type': 'STRING'},
    {'name': 'Description', 'type': 'STRING'},
    {'name': 'Quantity', 'type': 'STRING'},
    {'name': 'InvoiceDate', 'type': 'STRING'},
    {'name': 'UnitPrice', 'type': 'STRING'},
    {'name': 'CustomerID', 'type': 'STRING'},
    {'name': 'Country', 'type': 'STRING'},
]

# Uploading DataFrame to BigQuery
pandas_gbq.to_gbq(df, destination_table='project_1.customers_final', 
                  project_id='etl-project-416319', 
                  credentials=credentials, 
                  if_exists='replace', 
                  table_schema=schema)

100%|██████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 1788.62it/s]